#container {
    width: 400px;
    height: 480px;
    border-width: 70px 15px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    background-color: #C1DAD6;
}

#logIn, #signUp{
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color:aliceblue;
    color:slategray;
    font-size: 1.5em;
    text-align: center;
}