#search-title h1 {
    text-align: center;
}

#search-content label {
    font-size: 1.5em;
    margin-left: 25px;
    text-align: center;
}

#search-content input, textarea, select {
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    color: slategray;
    font-size: 1.5em;
    text-align: center;
    max-width: 220px;
    font-family: "Buxton Sketch", "Calibri", "Arial";
}

#search-content textarea {
    max-width: 215px;
    max-height: 50px;
}