#registration-content label {
    font-size: 1.5em;
    margin-left: 25px;
    text-align: center;
}

#registration-content input, textarea, button {
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    color: slategray;
    text-align: center;
    max-width: 220px;
    font-family: "Buxton Sketch", "Calibri", "Arial";
}

#registration-content textarea {
    max-width: 215px;
    max-height: 50px;
}

#registration-photo::-webkit-file-upload-button {
    content: 'Select';
    display: inline-block;
    background-color: #ACD1E9;
    border-radius: 10px;
}

#registration-submit {
    margin: 15px 25px 15px 50px;
    padding: 10px;
    min-width: 300px;
}
