#container {
    width: 400px;
    height: 480px;
    border-width: 70px 15px;
    border-style: solid;
    border-radius: 10px;
    background-color: #C1DAD6;
    font-family: "Buxton Sketch", "Calibri", "Arial";
}

#registration-title{
    text-align:center;
}
#top-menu {
    height: 120px;
    background-color: #B7AFA3;
}

#bottom-menu{
    height: 80px;
    background-color: #B7AFA3;
    margin: 0;
    padding: 0;
}

#bottom-menu .bottom-menu-button {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    float: left;
}

#main-content {
    height: 280px;
}